.article-container {
    max-width: 85%;
}

.docs-content {
    max-width: 100%;
}

.docs-article-container {
    max-width: 100%;
}

.docs-sidebar {
    max-width: 20%;
}

.article {
    max-width: 100%;
}

.inline-svg {
  display: inline-block;
  height: 1rem;
  position: relative;
}

.inline-svg > img {
  display: inline-block;
  height: 1rem;
  position: relative;
}

span {
  vertical-align: "bottom";
  margin-top: -2rem;
}
